.body-background {
  background-color: #6e0a1e;
}
.cont-background {
  background-color: #aa8c2c;
}
.navbar-style {
  background-color: #580818;
}
.footer-background {
  background-color: #580818;
}
.img {
  width: 100%;
  max-width: 600px;
  height: auto;
}
.img2 {
  width: 100%;
  max-width: 525px;
  height: auto;
}
.profile-img {
  width: 100%;
  height: auto;
}
.btn-col {
  background-color: #c2a134;
}
.span-text {
  color: white;
}
