.body-background{
    background-color: #6E0A1E;

}
.cont-background{
    background-color: #AA8C2C;
}
.navbar-style{
    background-color: #580818; 
}
.footer-background{
    background-color: #580818; 
}
.img{
    width: 600px;
}
.img2{
    width: 525px;
}
.img3{
    width: 700px;
}
.img4{
    width: 700px;
}
.btn-col{
    background-color: #c2a134;
}
.span-text{
 color: white;
}