.body-background{
    background-color: #6E0A1E;

}
.cont-background{
    background-color: #AA8C2C;
}
.navbar-style{
    background-color: #580818; 
}
.footer-background{
    background-color: #580818; 
}